body { 
	padding-top: 65px; 
	background: #F8F8F8;
}

.btn-adapt {
	margin-top: -10px;
	margin-right: 10px;
}

.error {
	color : red
}

input.ng-invalid.ng-touched {
	Background-color : #FA787E
}
input.ng-valid.ng-touched {
	Background-color : #78FA89
}
