<div class="row" ng-show="currentUser" ng-controller="FriendsController">
	<div class="col-md-3">
		<div class="panel panel-default" >
			<div class="panel-heading">Mes amis</div>
			<div class="panel-body">
				<ul ng-repeat="friend in Listefriends">
					<!-- <li ng-controller="FriendsRemoveController" > <a href="" data-toggle="modal" data-target="#ViewFriend">{{friend.pseudo}}</a></li> -->
					<li ng-controller="FriendAccountController" > <a href=""  ng-click=account(friend._id)>{{friend.pseudo}}</a></li>
				</ul>
 				<datalist  id="amis">
  					<option ng-repeat="friend in Listefriends" value={{friend.pseudo}}>
				</datalist>
			</div>
		</div>
		<div class="panel panel-default" ng-controller="GroupsController" >
			<div class="panel-heading">Mes groupes</div>
			<div class="panel-body">
				<ul ng-repeat="group in myGroups">
					<li ng-controller="GroupAccountController"><a href="" ng-click=accountGroup(group._id)>{{group.nameGroupe}}</a></li>
					<ul ng-repeat="member in group.membres">
						<li ng-if="member.email!=currentUser.email" >{{member.pseudo}}</li>
					</ul>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-9" ng-controller="GroupsController">
		<div class="panel panel-default">
			<div class="panel-heading">
				<!--<li> <a href="" ng-click="GroupView(group)" data-toggle="modal" data-target="#ViewGroup">{{group.nameGroupe}}</a></li>-->
				<h4>Historique de <b>{{GroupAccount.nameGroupe}}</b><a href="" class="btn btn-success pull-right btn-adapt" ng-click="GroupView(GroupAccount)" data-toggle="modal" data-target="#ViewGroup">Modifier</a>

				<div class="modal fade" id="ViewGroup" ng-show="boole" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
														<h4 class="modal-title" id="myModalLabel">Réglage</h4>
													</div>
													<div class="modal-body">
														<form  class="form-signin" name="FormUpdateGroup" ng-submit="FormUpdateGroup.$valid && updateGroup()">
															<label for="inputGroupName" class="sr-only">Group name</label>
															<input type="text" id="inputGroupName" ng-model="groupsUpdate.CurrentGroup.nameGroupe" name="GroupName" ng-minlength="4" ng-maxlength="25" class="form-control" placeholder="Group name" required autofocus>
															<br>
															<label for="inputGroupName" class="sr-only">Member</label>
															<div class="form-signin" ng-repeat="member in groupsUpdate.CurrentGroup.membres" >

																<div href ng-if="!$first "  >
																	<input type="text" list="amis" ng-minlength="4" ng-maxlength="15" ng-model="member.pseudo"  ng-change="changePseudoUpdateGroup(member)" ng-required="true" class="form-control" placeholder="Member pseudo"  required>
																</div>

																
																	
																	<input  ng-hide="true" type="email"  ng-model="member.email" class="form-control" placeholder="Member mail" >
																	<button  ng-click="removeGroup(member)" ng-show="varShow"   ng-if="!$first "aria-label="Remove">X</button>
																	
																	</div>


																			<a href ng-click="addGroup()"> Ajouter un autre membre </a><br/>

																			<span class="error" ng-show="FormUpdateGroup.GroupName.$error.minlength">
																				Group name Too short!<br></span>
																				<span class="error" ng-show="FormUpdateGroup.GroupName.$error.maxlength">
																					Group name Too long!<br></span> 


																					<button class="btn btn-lg btn-primary btn-block" type="submit">Modifier</button>
																					<button class="btn btn-lg btn-primary btn-block" ng-controller="GroupsRemoveController" type="button"  ng-click=removeGroup(groupsUpdate.CurrentGroup);>Supprimer</button>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
				
				<div ng-if="GroupExpenses.length != 0">
					<div class="panel-body">
						<div class="col-md-6">
							<div class="thumbnail">
								<h4 class="text-center">Vous devez</h4><br>
								<div class="caption" ng-repeat="expense in GroupExpenses" g-if="expense.payer!=currentUser.email">
									<div>
										<p><I>Pour "{{expense.description}}" :</I></p>
										<ul ng-repeat="balance in expense.balance"ng-if="balance.user!=currentUser.email">
											<li ng-controller="GroupAccountController">
												<font size=2><b>{{pseudo(balance.user)}}</b> vous doit <span class="text-danger">€{{balance.owe}}</span></font>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div> 	
						<div class="col-md-6">
							<div class="thumbnail">
								<h4  ng-if="GroupExpenses.length==0" class="text-center">On ne vous doit rien</h4>
								<h4 ng-if="GroupExpenses.length>0" class="text-center">On vous doit</h4><br>
								<div class="caption" ng-repeat="expense in GroupExpenses" ng-if="expense.payer==currentUser.email">
									<div>
										<p><I>Pour "{{expense.description}}" : </I></p>
										<ul ng-repeat="balance in expense.balance"ng-if="balance.user!=currentUser.email">
											<li ng-controller="GroupAccountController">
												<font size=2>Vous devez à <b>{{pseudo(balance.user)}}</b> : <span class="text-primary"> €{{balance.owe}} </span> </font>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div ng-if="GroupExpenses.length == 0">
					<div class="panel-body">
						<div class="thumbnail">
							<h4 class="text-center">Vous ne devez rien</h4>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
