<div class="col-md-6 col-md-offset-3" ng-controller="FriendsController" ng-show="currentUser">
  <br><br><br>
<form class="form-signin" ng-submit="envoyer()">
  <h2 class="form-signin-heading">Add a friend</h2>
  <label for="inputEmail" class="sr-only">Email address</label>
 <input type="text" id="inputPseudo" ng-model="friends.pseudo" class="form-control" placeholder="Pseudo" required autofocus>
  <br>
 <input type="email" id="inputEmail" ng-model="friends.email" class="form-control" placeholder="Email address" required >
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">ADD</button>
</form>

<label> Liste des amis : </label>
<ul  ng-repeat="friend in Listefriends">

	<li>{{friend}}</li>
      
</ul>
</div>
