<div class="col-md-6 col-md-offset-3" ng-controller="RegisterController" ng-hide="currentUser">
  <br><br><br>
  <form novalidate class="form-signin" name="FormRegister" ng-submit="FormRegister.$valid && envoyer()">
    <h2 class="form-signin-heading">Inscription</h2>
    <label for="inputPseudo" class="sr-only">Pseudo</label>
    <input type="text" id="inputPseudo" ng-model="register.pseudo" ng-minlength="4" ng-maxlength="15" name ="pseudo" class="form-control" placeholder="Pseudo" required autofocus>
    <br> 
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" ng-model="register.email" class="form-control" placeholder="Email address" name="email" required >
    <br>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" ng-model="register.password" name ="password" class="form-control" ng-minlength="6" ng-maxlength="15" placeholder="Password" required>
    <span class="error" ng-show="FormRegister.pseudo.$error.minlength">
      Pseudo Too short!</span>
    <span class="error" ng-show="FormRegister.pseudo.$error.maxlength">
      Pseudo Too long!</span> 
    <span class="error" ng-show="FormRegister.password.$error.minlength">
      Password Too short!</span>
    <span class="error" ng-show="FormRegister.password.$error.maxlength">
      Password Too long!</span>
    <span class="error" ng-show="FormRegister.email.$error.email">
      Enter a valid email address!</span>
    <br>
    
    
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">S'inscrire</button>
  </form>
  <br><p class="text-center"><a href="#/">J'ai déjà un compte</a></p>
</div>
